body {
	background: linear-gradient(56deg, rgba(36,0,0,0.599362779291404) 0%, rgba(252,255,214,0.7) 35%, rgba(0,212,255,0.85) 100%);
}

h1{
  	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 1px 1px 2px black, 0 0 25px #3737ff, 0 0 5px #0000b3;
}

#details{
	border-left: 2px inset lightgreen;
	border-top: 2px inset lightgreen;
	border-right: 2px outset green;
	border-bottom: 2px outset green;
	margin-left: 20px;
	margin-top: 20px;
	padding: 20px;
	min-width: 60%;
}

#details th{
	min-width: 80px;
}

#details textarea{
	resize: horizontal;
	max-width: 300px;
	min-width: 100px;
	min-height: 70px;
}

#box{
	width: 40%;
	margin-top: 2%;
	margin-left: 30%;
	margin-right: 20%;
	padding: 15px;
	border-left: 2px inset lightgreen;
	border-top: 2px inset lightgreen;
	border-right: 2px outset green;
	border-bottom: 2px outset green;
}

#left{
	width: 30%;
	margin-top: 3%;
	margin-left: 5%;
	margin-right: 10%;
	padding: 15px;
	border-left: 2px inset lightgreen;
	border-top: 2px inset lightgreen;
	border-right: 2px outset green;
	border-bottom: 2px outset green;
}

#tableBox{
	width: 55%;
	margin-top: 2%;
	margin-left: 25%;
	margin-right: 20%;
	padding: 15px;
	border-left: 2px inset lightgreen;
	border-top: 2px inset lightgreen;
	border-right: 2px outset green;
	border-bottom: 2px outset green;
}

#tableBox td{
	min-width: 200px;
}

textarea{
	width: 100%;
	min-height: 100px;
	resize: vertical;
}

option {
    padding: 5px 0;
}

