body {
	background: linear-gradient(56deg, rgba(36,0,0,0.599362779291404) 0%, rgba(252,255,214,0.7) 35%, rgba(0,212,255,0.85) 100%);
}

h1{
  	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 1px 1px 2px black, 0 0 25px #3737ff, 0 0 5px #0000b3;
}

option {
    padding: 5px 0;
}

textarea{
	resize: vertical;
	min-height: 100px;
	width: 100%;
}

#red{
	margin-top: 4%;
}

#cosak{
	margin-left: 2%;
	margin-top: 2%;
}

#prijava{
	padding: 15px;
	height: 30rem;
	width: 25rem; 
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	border-left: 2px inset lightgreen;
	border-top: 2px inset lightgreen;
	border-right: 2px outset green;
	border-bottom: 2px outset green;
}

#pretraga{
	padding: 10px;
	border-left: 2px inset lightgreen;
	border-top: 2px inset lightgreen;
	border-right: 2px outset green;
	border-bottom: 2px outset green;
}

#box{
	padding: 15px;
	width: 40%;
	margin: auto;
	margin-top: 1%;
	border-left: 2px inset lightgreen;
	border-top: 2px inset lightgreen;
	border-right: 2px outset green;
	border-bottom: 2px outset green;
}

#box table{
	border-collapse: separate; 
	border-spacing: 2px;
}

#tableBox{
	padding: 15px;
	width: 50%;
	margin: auto;
	margin-top: 1%;
	border-left: 2px inset lightgreen;
	border-top: 2px inset lightgreen;
	border-right: 2px outset green;
	border-bottom: 2px outset green;
}

#okvir{
	padding: 15px;
	margin-right: 10%;
	border-left: 2px inset lightgreen;
	border-top: 2px inset lightgreen;
	border-right: 2px outset green;
	border-bottom: 2px outset green;
}

#rasiri{
	border-collapse: separate; 
	border-spacing: 2px;
}

.radniKalendarLevaTabelaDiv{
	float: left;
	width: 49%;
}

.radniKalendarDesnaTabelaDiv{
	float: right;
	width: 49%;
}

.zahteviObradaOperacijeLeviDiv{
	float: left;
	width: 59%;
}

.zahteviObradaOperacijeDesniDiv{
	float: right;
	width: 39%;
}